* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: #74c69d;
    --color-primary-light: #b7e4c7;
    --color-text-tint: #1b4332;
    --color-btn: #2d6a4f;
    --color-bg-shade: #081c15;
    --color-gray: #d8f3dc;
}
html {
    font-family: var(--font-primary);
    font-size: 62.5%;
    overflow-x: hidden;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d5eee2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2d6a4f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #081c15;
}

@media (max-width: 1065px) {
    html {
        font-size: 55%;
    }
}
@media (max-width: 940px) {
    html {
        font-size: 50%;
    }
}
